@import "tailwindcss";

@theme {
    --font-family-sans: 'Inter', sans-serif;
  
    --color-dreamless-sleep: #111111;
    --color-black-water: #575864;
    --color-powder-white: #ecf0f4;
    --color-bolt-blue: #2275fc;
    --color-pale-sky: #f2f7fb;
    --color-perfect-storm: #95989dff;
    --color-table-highlighter: #f6f8fbcc;
    --color-aerospace-orange: #ff5200;
    --color-welsh-onion: #22c55e;
  
    --spacing-2.5: 0.625rem;
    --spacing-10: 2.5rem;
    --spacing-24: 6rem;
    --spacing-50: 12.5rem;
    --spacing-208: 52rem;
  
    --border-width-1: 0.0625rem;
  
    --border-radius-12: 3rem;
  
    --box-shadow-custom-box: 0 4px 24px 0 rgba(20, 25, 38, 0.05);
    --box-shadow-white-box: 0 4px 24px 2px rgba(20,25,38,.05);
   
    --line-height-20: 5rem;
    --line-height-37: 9.25rem;
  
    --font-weight-700: 700;
  }
  
  /* Custom utility classes */
  @layer utilities {
    .btn-custom {
      @apply bg-bolt-blue border border-bolt-blue h-50 px-[22px] py-[15px] text-white flex items-center justify-center gap-2 font-sans text-sm font-700 leading-20 bg-[length:100%] overflow-hidden rounded-xl transition-all duration-300 ease-in-out;
    }
  
    .btn-custom:hover {
      @apply bg-white text-bolt-blue;
    }
  
    .page-heading {
      @apply text-2xl leading-37 text-black font-700;
    }
  
    .white-box-cont {
      @apply flex p-6 flex-col gap-24 rounded-xl bg-white shadow-[0_4px_24px_2px_rgba(20,25,38,0.05)] ;
    }
  
    .uploaded-img-cont {
      @apply w-full h-208 border border-dotted border-bolt-blue flex items-center justify-center rounded-xl overflow-hidden relative;
    }
  }